@using System.Security.Claims
@model LGC.Support.Models.UserData
@{
    var _userName = User.Identity.Name;
    var _userID = ((ClaimsIdentity)User.Identity).Claims
                .Where(c => c.Type == "UserId")
                .Select(c => c.Value).FirstOrDefault();
}
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Change Password</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" asp-controller="Account" asp-action="ChangePassword">
                    <div class="item form-group">
                        <label asp-for="password" class="col-form-label col-md-3 col-sm-3 label-align">
                            Old Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="password" class="date-picker form-control" type="password" required="required">
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="new_password" class="col-form-label col-md-3 col-sm-3 label-align">
                            New Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="new_password" class="date-picker form-control" type="password" required="required">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="confirm_password" class="col-form-label col-md-3 col-sm-3 label-align">
                            Confirm Password <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="confirm_password" class="date-picker form-control" type="password" required="required">
                            <span asp-validation-for="confirm_password" class="text-danger"></span>
                        </div>
                    </div>
                    <input asp-for="@Model.id" type="hidden" value="@_userID">
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" class="btn btn-primary">Change Password</button>
                            <a asp-controller="Home" asp-action="Index" class="btn btn-danger"> Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>