@model CustomerData
<div class="col-md-8">
    <div class="x_panel">
        <div class="x_title">
            <h2>Delete Customer</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            <form class="form-horizontal form-label-left" asp-controller="Product" asp-action="Form">
                <div class="form-group row">
                    <label for="created_at" class="control-label col-md-3 col-sm-3">Date</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input for="created_at" type="text" class="form-control" readonly="readonly" placeholder="@DateTime.Now.ToString("dd MMMM yyyy")">
                    </div>
                </div>
                <div class="form-group row ">
                    <label asp-for="name" class="control-label col-md-3 col-sm-3">Product Name</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input asp-for="name" type="text" class="form-control" maxlength=20 readonly="readonly">
                    </div>
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="address" class="control-label col-md-3 col-sm-3">Address</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input asp-for="address" type="text" class="form-control" placeholder="" readonly="readonly">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="contact" class="control-label col-md-3 col-sm-3">Contact</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input asp-for="contact" type="text" class="form-control" placeholder="" readonly="readonly">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="email" class="control-label col-md-3 col-sm-3">Email</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input asp-for="email" type="email" class="form-control" placeholder="" readonly="readonly">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="phone_number" class="control-label col-md-3 col-sm-3">Phone Number</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input asp-for="phone_number" type="text" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 offset-md-3">
                        <button asp-controller="Customer" asp-action="Delete" type="submit" class="btn btn-primary">Delete</button>
                        <button asp-controller="Customer" asp-action="Index" type="submit" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>