@model ProductData

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2 style="font-weight: bold">Create Product</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" asp-controller="Product" asp-action="Create">
                    <div class="item form-group">
                        <label asp-for="name" class="col-form-label col-md-3 col-sm-3 label-align">
                            Product Name 
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="name" type="text" style="text-transform:uppercase" required="required" class="form-control" maxlength="20">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="description" class="col-form-label col-md-3 col-sm-3 label-align">
                            Description
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="description" type="text" style="text-transform:uppercase" class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="description2" class="col-form-label col-md-3 col-sm-3 label-align">
                            Description 2
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="description2" type="text" style="text-transform:uppercase" class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="category" class="col-form-label col-md-3 col-sm-3 label-align">
                            Select Category 
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <select asp-for="category" class="form-control select_page" required="required">
                                <option value=@null>---- Select ----</option>
                                <option value="PRINTER">PRINTER</option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="brand" class="col-form-label col-md-3 col-sm-3 label-align">
                            Select Brand 
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <select asp-for="brand" class="form-control select_page" required="required">
                                <option value=@null>---- Select ----</option>
                                <option value="TSC">TSC</option>
                                <option value="HONEYWELL">HONEYWELL</option>
                                <option value="VENUS">VENUS</option>
                            </select>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <diqv class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a asp-controller="Product" asp-action="Index" class="btn btn-danger"> Cancel</a>
                        </diqv>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>

        $(document).ready(function() {
        $(".select_page").select2({
            width: '100%'
        });
    });


</script>
}
