@model ProductData

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Update Product</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" asp-controller="Product" asp-action="Edit">
                    <div class="item form-group">
                        <label asp-for="created_at" class="col-form-label col-md-3 col-sm-3 label-align">
                            Date <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="created_at" class="date-picker form-control" type="text" required="required" placeholder="@DateTime.Now.ToString("dd MMMM yyyy")" readonly="readonly">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="name" class="col-form-label col-md-3 col-sm-3 label-align">
                            Product Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="name" type="text" required="required" class="form-control" readonly="readonly">
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="description" class="col-form-label col-md-3 col-sm-3 label-align">
                            Description
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="description" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="category" class="col-form-label col-md-3 col-sm-3 label-align">
                            Select Category <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <select asp-for="category" class="form-control" required="required">
                                <option value=@null>---- Select ----</option>
                                <option value="PRINTER">PRINTER</option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="brand" class="col-form-label col-md-3 col-sm-3 label-align">
                            Select Brand <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            <select asp-for="brand" class="form-control" required="required">
                                <option value=@null>---- Select ----</option>
                                <option value="TSC">TSC</option>
                                <option value="HONEYWELL">HONEYWELL</option>
                                <option value="VENUS">VENUS</option>
                            </select>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button class="btn btn-danger" type="submit" asp-controller="Product" asp-action="Index">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>